{{outlet}}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Selecciona la clase
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">clase 1</a>
    <a class="dropdown-item" href="#">clase 2</a>
    <a class="dropdown-item" href="#">clase 2</a>
  </div>
</div>
<button {{action "studentAddClass" on='click'}}>Añadir clase</button>